<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- loading controller configs -->
    <rosparam command="load" file="$(find puma01_control)/config/sim_pd_plus_fw_controller_config.yaml" />

    <!-- launching controller_manager, which starts the controllers, named in args -->
    <node name="sim_controller_spawner" pkg="controller_manager" type="spawner"
      respawn="false" output="screen" ns="/puma01_sim" 
      args="--namespace=/puma01_sim
      sim_pd_plus_fw_controller
      sim_joint_state_controller
      --timeout 15">
    </node>  

</launch>

